<div class="page-show">
  <br>
  <div class=page-link>
    <%= link_to link_to "戻る", book_pages_path(@book.id) , class: "page-return"%>
    <%= link_to '削除', "#{@page.id}", method: :delete, class: "page-delete"%>
    <%= link_to '編集', edit_book_page_path, class: "page-edit"%>
  </div>
    <div class="page-top">
      <p class="page-title"><%= @page.title %></p>
      <p class="page-number"><%= "#{@page.number}ページ" %></p>
    </div>
    <div class="page-image">
      <% if @page.previous.present? %>
        <%= link_to image_tag("left.png"), book_page_path(@book,@page.previous), class: "btn_arrow_back"%>
      <% end %>
      <%= image_tag @page.image.variant(resize: '900x750'), class: "page-image" %>
      <% if @page.next.present? %>
       <%= link_to image_tag("right.png"),book_page_path(@book,@page.next), class: "btn_arrow" %>
      <% end %>
    </div>

</div>




