<div class="contents row">
  <div class="container">
    <h3>編集する</h3>
    <%= form_with(model: @book, local: true) do |form| %>
      <%= form.text_field :title, placeholder: "タイトル" %>
      <%= form.text_area :content, placeholder: "説明", rows: "2" %>
      <%= form.submit "編集完了" %>
    <% end %>
      <%= link_to '削除', book_path(@book.id), method: :delete %>
  </div>
</div>